@page
@model LunaSite.Pages.ArchiveModel
@{
ViewData["Title"] = "Archive";
}

<body>
    <div class="text-center">
        <h1>The Dwarffell Archives</h1><br />
        <a href="/Archive/SMOO">
            <button class="simple-button">Super Mario Odyssey Online</button>
        </a><br/>
        <a href="/Archive/Birthday-2025">
            <button class="simple-button" disabled>Birthday 2025 (coming soon)</button>
        </a><br/>
    </div>
</body>