@page
@model LunaSite.Pages.SMOOModel
@{
ViewData["Title"] = "Super Mario Odyssey Online";
}

<head>
    <link rel="stylesheet" href="/css/arc-style.css" />
    <style>
       
    </style>
</head>

<body>
    <div class="modal-container">
        <h1>Super Mario Odyssey Online</h1>
        <p>Super Mario Odyssey Online is a groundbreaking mod that allows players to experience the world of Super Mario Odyssey with their friends. This mod introduces online multiplayer functionality, enabling players to explore, compete, and collaborate in real-time. The official branch focuses on the Hide & Seek game mode, offering endless fun and replayability.</p>
        <div class="download-container">
            <div class="download-box">
                <p>Super Mario Odyssey Online</p>
                <p class="download-credits">by <a href="https://github.com/CraftyBoss">CraftyBoss</a></p>
                <a href="https://github.com/CraftyBoss/SuperMarioOdysseyOnline/releases/latest">
                    <div class="simple-button">Github Release</div>
                </a>
                <div class="dropdown-container">
                    <label for="older-versions">Version History</label>
                    <select id="older-versions" onchange="location = this.value;">
                        <option value="" disabled selected>Select a version</option>
                        <option value="https://github.com/CraftyBoss/SuperMarioOdysseyOnline/releases/tag/v1.4.0">Version 1.4</option>
                        <option value="https://github.com/CraftyBoss/SuperMarioOdysseyOnline/releases/tag/v1.3.0">Version 1.3</option>
                        <option value="https://github.com/CraftyBoss/SuperMarioOdysseyOnline/releases/tag/v1.2.0">Version 1.2</option>
                        <option value="https://github.com/CraftyBoss/SuperMarioOdysseyOnline/releases/tag/v1.1.0">Version 1.1</option>
                        <option value="https://github.com/CraftyBoss/SuperMarioOdysseyOnline/releases/tag/v1.0.0">Version 1.0</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-container">
        <h1>Sardines</h1>
        <p>Sardines is a unique multiplayer game mode for Super Mario Odyssey Online where one player hides, and the rest search for them. As seekers find the hider, they join in hiding, creating a growing group in a single spot. The game ends when the last seeker finds the group, offering a fun and chaotic twist on traditional hide-and-seek.</p>
        <div class="download-container">
            <div class="download-box">
                <p>Amethyst Sardines</p>
                <p class="download-credits">by <a href="https://github.com/Amethyst-szs">Amethyst-szs</a></p>
                <a href="/files/SMOO/Sardines.zip" download>
                    <div class="simple-button">Direct Download</div>
                </a>
            </div>
        </div>
    </div>
    <div class="modal-container">
        <h1>Freeze Tag</h1>
        <p>Freeze Tag is a thrilling mod for Super Mario Odyssey that brings the classic playground game to life in the Mushroom Kingdom. Players can freeze and unfreeze each other in a fast-paced, action-packed multiplayer experience. Perfect for competitive and casual players alike, Freeze Tag adds a whole new layer of fun to the game.</p>
        <div class="download-container">
            <div class="download-box">
                <p>Amethyst Freeze Tag</p>
                <p class="download-credits">by <a href="https://github.com/Amethyst-szs">Amethyst-szs</a></p>
                <a href="/files/SMOO/Freeze-Tag.zip" download>
                    <div class="simple-button">Direct Download</div>
                </a>
            </div>
        </div>
    </div>
</body>
