@page

<body>
    <form id="blogForm">
        <input type="text" id="user" name="user" required><br/>
        <input type="text" id="pass" name="pass" required><br/>
        <label for="title">Title</label>
		<input type="text" id="title" name="title" /><br/>
		<label for="content">Content</label>
		<textarea id="content" name="content"></textarea><br/>
		<label for="author">Author</label>
		<input type="text" id="author" name="author" /><br />
        <button type="submit">Submit</button>
    </form>
</body>
<script>
document.getElementById('blogForm').addEventListener('submit', async function(event){
		event.preventDefault();
    const formData = {
        user: document.getElementById('user').value,
        pass: document.getElementById('pass').value,
        post: {
				Title: document.getElementById('title').value,
                Content: document.getElementById('content').value,
					Author: document.getElementById('author').value
        }
    };

    const response = await fetch('/api/admin/blogcontroller/savepost', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    });

    const result = await response.text();
    console.log(result);
});
</script>