@page
@model LunaSite.Pages.BlogModel
@{
	ViewData["Title"] = "Luna's Blog";
}
<body>
	<div id="blogtable"></div>
</body>
<script>
    function MessageTable() {
        const table = document.getElementById("blogtable");
        fetch('/api/admin/blogcontroller/posts')
            .then(response => response.json())
            .then(data => {
                table.innerHTML = data.message;
            })
            .catch(error => {
                console.error(error.message);
            })
    }

	MessageTable();
</script>